{%load static%}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story 8 Adham</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{%static 'script.js'%}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
</head>

<body style="background-image: linear-gradient(to right,#43cea2,#185a9d)">
<div class="container">
<h1 style="color: white;">Adham Miftah</h1>
<div id="bottom">
        <div id="accordion">
            <div Class="one">   
                <h3 style="padding: 2% 2% 2% 1%; color: white;">About me
                    <span style="float: right; padding-right: 2%;">
                        <a class='up'>Λ</a>
                        <a class='down'>V</a>
                    </span>
                </h3>
                <div style="background-color: skyblue; padding: 2%;">    
                    <p> 
                            Hello there! I'm Adham Miftah, I'm currently majoring Computer Science in University Indonesia. My hobbies are; photography, graphics design, and tech. I'm really passionate to be a UI/UX designer in the future :)
                    </p>
                </div>
            </div>
    
            <div Class="one">
                <h3 style="padding: 2% 2% 2% 1%; color: white;">Current activities
                    <span style="float: right; padding-right: 2%">
                        <a class='up'>Λ</a>
                        <a class='down'>V</a>
                    </span>
                </h3>                
                <div style="background-color: skyblue; padding: 2%;">    
                    <p>
                        Since the coronavirus came, staying at home and learn about many stuff is my new thing.
                    </p>
                </div>
            </div>
    
            <div Class="one">
                <h3 style="padding: 2% 2% 2% 1%; color: white;">Volunteer experience
                    <span style="float: right; padding-right: 2%">
                        <a class='up'>Λ</a>
                        <a class='down'>V</a>
                    </span>
                </h3>
                <div style="background-color: skyblue; padding: 2%;">    
                    <p>
                        I'm currently a Documentation and Animation Staff at COMPFEST 2020, and I'm also a Documentation Staff at Educare 2020.
                    </p>
                </div>
            </div>

            <div Class="one">
                <h3 style="padding: 2% 2% 2% 1%; color: white;">Achievements
                    <span style="float: right; padding-right: 2%">
                        <a class='up'>Λ</a>
                        <a class='down'>V</a>
                    </span>
                </h3>
                <div style="background-color: skyblue; padding: 2%;">    
                    <p>
                        Public Service Advertisement Competition (CEF UIN 2018) - 1st place
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

    

</body>
</html>